$mobile: 426px;
$tablet: 768px;
$desktop: 1024px;
$desktop--large: 1280px;

@mixin mobile {
  @media screen and (max-width: $mobile) {
    @content;
  }
}

@mixin tablet {
  @include breakpoint($mobile, $tablet) {
    @content;
  }
}

@mixin min-tablet {
  @include breakpoint($mobile) {
    @content;
  }
}

@mixin desktop {
  @include breakpoint($tablet, $desktop) {
    @content;
  }
}

@mixin min-desktop {
  @include breakpoint($tablet) {
    @content;
  }
}

@mixin min-desktop--large {
  @include breakpoint($desktop) {
    @content;
  }
}

@mixin breakpoint($start, $end: null) {
  $end-query: "";
  @if ($end) {
    $end-query: "and (max-width: " + $end + ")";
  }

  @media screen and (min-width: $start + 1) #{$end-query} {
    @content;
  }
}
