@mixin font-props ($font-size: null, $font-weight: null) {
  @if $font-size {
    font-size: $font-size;
  }
  @if $font-weight {
    font-weight: $font-weight;
  }
}

@mixin saira ($font-size: null, $font-weight: null) {
  font-family: 'Saira', sans-serif;
  @include font-props($font-size, $font-weight)
}