$shadow-color: rgba(0, 0, 0, 0.1);

$complimentary-text-color: #808080;
$border-color-gray: #d9d9d9;
$text-color: #333333;

$blue: #1b72c3;
$blue--light: #61a8e9;

$primary-color: $blue;
$secondary-color: $blue--light;
