@import "./helpers/typography";
@import "./helpers/vars";

.l-form {
  display: flex;
  flex-direction: column;
  $accent-color: $primary-color;
  $accent-color--light: $primary-color--light;

  &__field {
    $input-margin-left: 0.3em;
    $input-width--mobile: #{"calc(100% - " $input-margin-left ")"};
    $border: solid $border-color-gray 1px;
    $border-color--focus: $accent-color--light;
    margin-top: 1em;

    @include min-tablet {
      display: flex;
      align-items: baseline;
      justify-content: flex-end;
    }

    > label {
      @include decoration-font;
      color: $complimentary-text-color;

      @include mobile {
        font-size: 0.8rem;
      }

      @include min-tablet {
        display: inline-block;
        margin-right: 1rem;
        text-align: right;
        flex-shrink: 0;
        width: 4rem;
      }
    }

    & {
      &--text {
        > input {
          border: none;
          border-bottom: $border;
          margin-left: $input-margin-left;
          padding: 0.2rem 0.5rem;
          box-sizing: border-box;
          outline: none;

          @include mobile {
            width: $input-width--mobile;
          }

          @include min-tablet {
            flex-grow: 1;
          }

          &:active,
          &:focus {
            border-color: $border-color--focus;
          }
        }
      }
    }

    & {
      &--text-area {
        @include min-tablet {
          margin-top: 1.5rem;
        }

        > textarea {
          border: $border;
          box-sizing: border-box;
          margin-left: $input-margin-left;
          outline: none;
          padding: 0.2rem 0.5rem;

          @include mobile {
            width: $input-width--mobile;
          }

          @include min-tablet {
            flex-grow: 1;
          }

          &:active,
          &:focus {
            border-color: $border-color--focus;
            outline: none;
          }
        }

        > label {
          display: inline-block;
          margin-bottom: 0.25rem;
        }
      }
    }
  }

  > button[type="submit"] {
    @include decoration-font;
    $button-transition: ease-in-out 100ms;
    align-self: center;
    border: solid $secondary-color 1px;
    border-radius: 1rem;
    color: $secondary-color;
    cursor: pointer;
    background-color: transparent;
    text-transform: uppercase;
    margin: 1.5rem 1rem 0;
    box-sizing: border-box;
    padding: 0.5em 1.5em 0.5em 2em;
    line-height: 1;
    transition: $button-transition;
    transition-property: background-color, color;

    @include min-tablet {
      margin-top: 1.75rem;
    }

    > svg {
      display: inline-block;
      height: 0.7em;
      width: 1em;
      margin-left: 0.5em;

      path {
        fill: none;
        stroke: $secondary-color;
        transition: stroke $button-transition;
      }
    }

    &:active,
    &:hover,
    &:focus {
      color: white;
      outline: none;
      background-color: $secondary-color;

      > svg path {
        stroke: white;
      }
    }
  }
}
