@import "~normalize.css/normalize.css";

@import "./typography";
@import "./helpers/devices";
@import "./helpers/typography";
@import "./helpers/vars";
@import "./panels";
@import "./forms";

html {
  @include body-font;
  color: $text-color;
  line-height: 1;
}

section {
  box-sizing: border-box;

  @include min-desktop {
    max-width: 78rem;
    margin: 0 auto;
  }
}

.l-main {
  @include mobile {
    padding: 5rem $section__horizontal-padding--mobile 3rem;
  }

  @include min-tablet {
    padding: 2.5rem $section__horizontal-padding--tablet;
  }
}

.l-content-wrapper {
  margin: 0 auto;
  width: calc(100vw - 6rem);
  padding: 0 3rem;

  @include min-desktop--large {
    max-width: $content__max-width--desktop - 6rem;
  }
}

.c-loading-icon {
  $size: 4em;
  position: relative;
  display: block;
  width: $size;
  margin: auto;

  &__label {
    @include decoration-font;
    margin-top: 1em;
    display: inline-block;
  }

  &__tile {
    $t: 1000ms;
    $border-radius: 0.2rem;
    display: inline-block;
    height: $size / 2;
    width: $size / 2;
    background-color: #ddd;
    opacity: 0.5;
    animation: loading-tile $t ease-in-out 0s alternate infinite;

    &:nth-child(1) {
      float: left;
      transform-origin: 75% 75%;
      border-radius: $border-radius 0 0;
    }
    &:nth-child(2) {
      float: right;
      transform-origin: 25% 75%;
      animation-delay: -1.5 * $t;
      border-radius: 0 $border-radius 0 0;
    }
    &:nth-child(4) {
      float: right;
      transform-origin: 25% 25%;
      animation-delay: -1 * $t;
      border-radius: 0 0 $border-radius 0;
    }
    &:nth-child(3) {
      float: left;
      transform-origin: 75% 25%;
      animation-delay: -0.5 * $t;
      border-radius: 0 0 0 $border-radius;
    }
  }
}

.l-footer {
  margin-top: 2rem;
  padding: 2rem;
}

.copyright {
  display: block;
  @include decoration-font(0.7em);
  color: $complimentary-text-color;
  text-align: center;
}

@keyframes loading-tile {
  0% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  25% {
    transform: scale(0.8);
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@import "../partials/partials";
