@import "~normalize.css/normalize.css";
@import url(https://fonts.googleapis.com/css?family=Raleway|Saira:400,700);

@import "./typography.scss";
@import "../partials/partials";
@import "./panels.scss";

body {
  font-family: 'Raleway', sans-serif;
  color: #333333;
  font-size: 14px;
  height: 100vh;
  position: relative;
}

section {
  min-height: 100vh;
}
