@import "./helpers/typography";
@import "./helpers/vars";
@import "./helpers/devices";
@import url(https://fonts.googleapis.com/css?family=Saira:400,500,700);

h1,
h2,
h3 {
  @include saira;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -1px;
}

h2 {
  font-size: 35px;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  margin: 3rem 0;
}

h3 {
  text-transform: uppercase;
  color: $complimentary-text-color;
  font-weight: normal;
  font-size: 20px;
}

a {
  text-decoration: underline;
  color: $complimentary-text-color;
}

.arrow-link {
  @extend a;
  font-size: 0.8rem;
}

.arrow-link {
  $icon-margin: 0.5em;
  &::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 0.5em;
    background: url(../images/arrow.svg) center bottom no-repeat;
  }

  &--expand::after {
    margin-left: $icon-margin;
  }
  
  &--collapse::after {
    margin-left: $icon-margin;
    transform: rotateZ(180deg);
  }
}

.t-section-caption {
  @include copy-text;
  text-align: center;
  margin: auto;

  @include min-tablet {
    max-width: 38rem;
  }
}
