@import "./helpers/typography";
@import "./helpers/vars";
@import "./helpers/devices";
@import url("https://fonts.googleapis.com/css?family=Poppins:300|Oxygen:300,700");

h1,
h2 {
  @include decoration-font;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -1px;
}

h2 {
  font-size: 2rem;
  font-weight: 500;
  letter-spacing: -1px;
  text-align: center;
  margin: 3rem 0;
}

a {
  text-decoration: underline;
  color: $complimentary-text-color;
}

.arrow-link {
  @extend a;
  font-size: 0.8rem;
}

.arrow-link {
  $icon-margin: 0.5em;
  &::after {
    content: "";
    display: inline-block;
    width: 1em;
    height: 0.5em;
    background: url(../images/arrow.svg) center bottom no-repeat;
  }

  &--expand::after {
    margin-left: $icon-margin;
  }

  &--collapse::after {
    margin-left: $icon-margin;
    transform: rotateZ(180deg);
  }
}

.t-section-caption {
  @include copy-text;
  text-align: center;
  margin: auto;

  @include min-tablet {
    max-width: 38rem;
  }
}

.t-button {
  @include decoration-font;
  background: none;
  border-radius: 0;
  border: none;
  cursor: pointer;
  line-height: 1;
  outline: none;
  padding: 0.5em 1.25em;
  text-decoration: none;
  text-transform: uppercase;

  &--white-transparent {
    background-color: rgba(255, 255, 255, 0.1);
    border: solid white 1px;
    color: white;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 1px white;
      background-color: rgba(255, 255, 255, 0.2);
    }
  }
}
