h1,
h2,
h3 {
  font-family: "Saira", sans-serif;
}

h1 {
  font-size: 42px;
  font-weight: 700;
  letter-spacing: -1px;
}

h2 {
  font-size: 35px;
  font-weight: normal;
  letter-spacing: -1px;
}

h3 {
  text-transform: uppercase;
  color: #737373;
  font-weight: normal;
  font-size: 20px;
}

h5 {
  font-family: "Saira", sans-serif;
  font-weight: normal;
  font-size: 12.5px;
  color: #b2b2b2;
}

a {
  text-decoration: underline;
  color: #808080;
  font-size: 0.8em;
  font-family: "Saira", sans-serif;
}

.arrow-link {
  $icon-margin: 1em;
  &::after {
    $size: 1em;
    content: "";
    display: inline-block;
    width: 1em;
    height: $size;
    background: url(../images/arrow.svg) center bottom no-repeat;
  }

  &--expand {
    &::after {
      margin-left: $icon-margin;
    }
  }
}

.t-section-caption {
  text-align: center;
  margin: 32px;
}