<section id="about" class="l-main l-about">
  <h2>about me</h2>
  <div class="l-about__content">
    <div class="l-about__info">
      <div class="avatar">
        <img src="./images/avatar.jpg" alt="Profile picture">
      </div>
      <p class="l-about__name">Leander Seefeld</p>
      <ul class="brief">
        <li>
          <img src="./images/icons/brazil-flag-icon@2x.png" alt="Brazilian flag">
          <p>Brazilian</p>
        </li>
        <li>
          <img src="./images/icons/graduation-icon@2x.png" alt="Graduation">
          <p>BSc in computer science
            <span class="brief__detail">at FURB - Regional University of Blumenau</span></p>
        </li>
        <li>
          <img src="./images/icons/laptop-icon@2x.png" alt="Work">
          <p>Fullstack Software Engineer</p>
        </li>
        <li>
          <img src="./images/icons/baby-icon@2x.png" alt="Baby emoji">
          <p>UI/UX designer and photographer
            <br>in the making</p>
        </li>
      </ul>
    </div>

    <div class="l-panel about-message">
      <button class="arrow-link arrow-link--expand about__expand">read bio</button>
    </div>
  </div>
</section>