@import "../styles/helpers/typography";
@import "../styles/helpers/vars";

.l-about {
  @include mobile {
    padding-left: 0;
    padding-right: 0;
  }

  @include min-tablet {
    margin: 2rem auto;

    &__content {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;

      > * {
        margin: 2rem;
      }
    }
    
  }

  &__info {
    flex-shrink: 0;

    @include tablet {
      max-width: $panel__max-width--tablet;
    }
    
    @include min-desktop {
      max-width: $panel__max-width--desktop;
    }
  }

  .avatar {
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.25);
    margin: 0 auto;
    
    > img {
      height: 100%;
    }
    
    @include mobile {
      $size: 50vw;
      height: $size;
      width: $size;
    }
    
    @include min-tablet {
      $size: 12rem;
      height: $size;
      width: $size;
    }
  }

  &__name {
    margin: 2rem 0;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 700;
  }

  .brief {
    @include decoration-font;
    color: $complimentary-text-color;
    max-width: 19rem;
    padding: 0;
    
    @include mobile {
      margin: 1.5rem 2rem;
    }

    @include min-tablet {
      margin: 2rem 0 0;
    }
    
    > li {
      display: flex;
      align-items: center;
      list-style: none;

      &:not(:last-child) {
        margin: 0 0 1rem;
      }

      > img {
        max-width: 1.5rem;
        float: left;
        margin-right: 0.75rem;
      }

      > p {
        margin: 0;
      }
    }

    &__detail {
      font-size: 0.8em;
      display: inline-block;
    }
  }

  .about-message {
    box-sizing: border-box;

    @include tablet {
      padding: 2rem;
    }
    
    @include min-desktop {
      padding: 3rem;
    }
    
    p {
      @include copy-text;
      text-indent: 1em;
      
      &:last-child {
        text-indent: 0;
        margin-left: 1em;
      }
    }
    
    @include mobile {
      width: calc(100% - 4rem);
      margin: 2rem auto;
      padding: 1em 0;
      overflow: hidden;
      transition: ease-in-out 200ms;
      transition-property: max-height, width, padding;
      
      &--expanded {
        padding: 1rem 2rem;
        width: 100%;
      }
    }

    .about__expand {
      display: block;
      margin: 0 auto;
      background: none;
      border: none;
      outline: none;

      &:active,
      &:focus {
        color: #333;
      }
    }
  }
}
