%contact-icon {
  $size: 1.5em;
  content: '';
  display: inline-block;
  height: $size;
  width: $size;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 1em;
}

.l-contact {
  &__list {
    @include decoration-font;
    padding: 0;
    text-align: center;
    margin: 3rem 0;
    
    @include min-desktop {
      text-align: left;
    }
  }

  @include min-desktop {
    &__content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: baseline;
    }
  }

  &__item {
    list-style: none;

    &--phone::before {
      @extend %contact-icon;
      background-image: url('../images/icons/phone-icon.svg');
    }

    &--mail::before {
      @extend %contact-icon;
      background-image: url('../images/icons/mail-icon.svg');
    }
  }

  &__form {
    @include mobile {
      margin-top: 4rem;
      padding: 1.5rem;
    }

    @include min-tablet {
      margin-top: 4rem;
      padding: 3rem;
      max-width: $panel__max-width--tablet;
    }
    
    @include min-desktop {
      margin: 4rem 3rem 3rem;
    }

    > .l-form {
      @include mobile {
        margin-top: 0.5rem;
        margin-bottom: 1rem;
      }

    }
  }

  &__form-message {
    line-height: 1.25rem;
    text-align: center;
    margin: 0;
  }
}