%contact-icon {
  $size: 1.5em;
  content: '';
  display: inline-block;
  height: $size;
  width: $size;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  vertical-align: middle;
  margin-right: 0.5em;
}

.l-contact {
  &__list {
    @include decoration-font;
    line-height: 2rem;
    padding: 0;
    margin: 3rem auto;
    max-width: 15rem;
  }

  @include min-desktop {
    &__content {
      display: flex;
      flex-direction: row-reverse;
      justify-content: center;
      align-items: baseline;
    }
  }

  &__item {
    list-style: none;

    &--phone::before {
      @extend %contact-icon;
      background-image: url('../images/icons/phone-icon.svg');
    }

    &--mail::before {
      @extend %contact-icon;
      background-image: url('../images/icons/mail-icon.svg');
    }

    &--linkedin::before {
      @extend %contact-icon;
      background-image: url('../images/icons/linkedin-icon.svg');
    }

    &--github::before {
      @extend %contact-icon;
      background-image: url('../images/icons/github-icon.svg');
    }
  }
}