<section id="contact" class="l-contact">
  <h2>contact</h2>
  <p class="t-section-caption">Got a problem that needs solving? Reach out and I will see what I can do for you!</p>
  <ul class="l-contact__list">
    <li class="l-contact__item l-contact__item--phone"><%= contact.phone %></li>
    <li class="l-contact__item l-contact__item--mail"><%= contact.mail %></li>
  </ul>
  <div class="l-contact__form l-panel ">
    <p>
      Or, if you prefer, send me a message right now and I will get back to you as soon as possible.
    </p>
    <form class="l-form" action="<%- contact.post %>" method="post">
      <div class="l-form__field l-form__field--text">
        <label for="name">Name</label>
        <input type="text" name="name" id="name" required>
      </div>
      <div class="l-form__field l-form__field--text">
        <label for="email">Email</label>
        <input type="text" name="email" id="email" required>
      </div>
      <div class="l-form__field l-form__field--text-area">
        <label for="message">Message</label>
        <textarea name="message" id="message" cols="30" rows="10" required></textarea>
      </div>
      <button type="submit">
        <span>Send</span>
        ${require(`!svg-inline-loader?removingTagAttrs=style!./images/send-arrow.svg`)}
      </button>
    </form>
  </div>
</section>