@import "../styles/helpers/devices";
@import "../styles/helpers/vars";
@import "../styles/helpers/typography";

$experiences-content-padding: 8px;
$experience-margin: 24px;

.c-experiences {
  padding: 16px 0;
  overflow: hidden;

  &__paginator {
    display: flex;
    align-items: baseline;
    margin: 2em 0;
    height: 1.2em;
    position: relative;
  }

  &__content {
    display: flex;
    align-items: flex-start;
    padding-left: $experiences-content-padding;
  }

  &__page {
    @include saira (1.2em);
    opacity: 0.5;
    font-weight: 700;
    position: absolute;
  }
}

.c-experience {
  flex-shrink: 0;
  width: #{"calc(100vw - "
    (($experience-margin + $experiences-content-padding) * 2) ")"};
  padding: 28px;
  box-sizing: border-box;
  margin-left: $experience-margin;
  align-self: flex-start;
  transform-origin: 50% 5em;

  &__header {
    margin-bottom: 1em;
    display: flex;
    align-items: center;
  }

  &__logo {
    $logo-size: 5.2em;
    display: inline-block;
    height: $logo-size;
    width: $logo-size;
    margin-right: 1em;

    > img {
      width: 100%;
    }
  }

  &__title {
    display: inline-block;
  }

  &__job-title,
  &__company-name {
    margin: 0;
    font-size: 1.2em;
  }

  &__company-name {
    display: none;
  }

  &__date,
  &__company-location {
    @include saira (0.8em);
    color: $complimentary-text-color;
  }

  &__date {
    margin-top: 0.5em;
  }

  &__summary {
    position: relative;
    text-indent: 1em;
    font-size: 0.9em;
    line-height: 1.35em;

    > p {
      margin: 0 0 0.3em;
    }

    &__toggle {
      display: inline;
      cursor: pointer;

      &-text {
        color: $primary-color;
      }
    }
  }

  &__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__label {
    text-align: center;
  }

  &__project {
    text-align: center;
    margin: 0 0.6em 1em 0.6em;

    &__image {
      width: 8em;
      margin: 0 auto;

      > img {
        box-shadow: 0 2px 4px $shadow-color;
        width: 100%;
      }
    }

    p {
      margin: 0.5em 0 0;
    }
  }
}
