<section id="experience" class="l-main l-experience">
  <h2>experience</h2>
  <p class="t-section-caption">I started my career a while ago. Check out the path I have followed and some of the exciting things I did.</p>
  <%- include('./partials/loader.ejs') %>
  <div class="l-experience__wrapper">
    <div class="c-experiences"></div>
  </div>
</section>