<section id="experience" class="l-experience">
  <h2>experience</h2>
  <div class="c-loading-icon">
    <div class="c-loading-icon__tile"></div>
    <div class="c-loading-icon__tile"></div>
    <div class="c-loading-icon__tile"></div>
    <div class="c-loading-icon__tile"></div>
    <span class="c-loading-icon__label">loading...</span>
  </div>
  <div class="l-experience-wrapper"></div>
</section>