@import "../styles/helpers/devices";
@import "../styles/helpers/vars";
@import "../styles/helpers/typography";

.l-experience {
  padding-left: 0;
  padding-right: 0;

  > * {
    margin-left: $section__horizontal-padding--mobile;
    margin-right: $section__horizontal-padding--mobile;
  }

  &__wrapper {
    overflow: hidden;
    margin: 0;
  }
}

.c-experiences {
  margin: 3.5rem 0 3rem;

  &__paginator {
    display: flex;
    align-items: baseline;
    margin: 2rem 0;
    height: 1.2em;
    position: relative;
  }

  &__content {
    display: flex;
    align-items: flex-start;
  }

  &__page {
    opacity: 0.5;
    font-weight: 700;
    position: absolute;
  }

  &__page-separator {
    position: absolute;
    border-top: 1px solid $border-color-gray;
    top: 0.5rem;
  }
}

.c-experience {
  flex-shrink: 0;
  width: calc(100vw - 2rem);
  padding: 1.5rem 1rem;
  box-sizing: border-box;
  margin-left: 1.5rem;
  margin-right: 0.5rem;
  align-self: flex-start;
  transform-origin: 50% 5em;

  &__header {
    margin-bottom: 1rem;
    display: flex;
  }

  &__logo {
    $logo-size: 4rem;
    display: inline-block;
    height: $logo-size;
    width: $logo-size;
    margin-right: 1em;

    > img {
      width: 100%;
    }
  }

  &__title {
    display: inline-block;
  }

  &__job-title,
  &__company-name {
    margin: 0;
  }

  &__company-name {
    display: none;
  }

  &__date,
  &__company-location {
    color: $complimentary-text-color;
    font-size: 0.75rem;
    margin: 0.25rem 0;
  }

  &__company-location {
    margin-bottom: 0;
  }

  &__date {
    margin-top: 0.5rem;
  }

  &__summary {
    position: relative;
    line-height: 1.25em;

    > p {
      text-indent: 1em;
    }

    ul {
      padding: 0 0 0 2rem;
      list-style-type: none;

      > li {
        &:before {
          content: "-";
          margin-left: -0.5em;
        }
      }
    }

    &__toggle {
      text-indent: 0;
      display: inline-block;
      cursor: pointer;

      &-text {
        color: $primary-color;
      }
    }
  }

  &__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  &__label {
    color: $label-text-color;
    margin: 1.5rem 0 1rem;
    text-align: center;
  }

  &__project {
    text-align: center;
    margin: 0.5rem;

    &__image {
      width: 6.25rem;
      margin: 0 auto;

      > img {
        box-shadow: 0 2px 4px $shadow-color;
        width: 100%;
      }
    }

    p {
      font-size: 0.7rem;
      margin: 0.5em 0 0;
    }
  }
}
