<header id="header" class="nm-header" aria-label="Menu">
  <div class="l-content-wrapper">
    <div class="nm-header__logo-wrapper">
      <div class="nm-header__logo">${require(`!svg-inline-loader?removingTagAttrs[]=style!./images/logos/nomadmacaw.svg`)}</div>
    </div>
    <div class="nm-header__title-list">
      <div class="nm-header__title nm-header__title--active" data-section-id="home">&nbsp;</div>
    </div>
    <div class="nm-header__menu">${require(`!svg-inline-loader?removingTagAttrs[]=style!./images/hamburger.svg`)}</div>
  </div>
</header>