.nm-header {
  $top: &;
  $transition: ease-in-out 0.3s;
  $padding: 32px;
  width: 100%;
  height: 3em;
  position: fixed;
  z-index: 10;
  padding: $padding;
  box-sizing: border-box;
  transition: $transition;
  transition-property: padding, background-position, height, border-color;
  background-image: linear-gradient(
    35deg,
    #e5e5e5,
    #fff 50%,
    #fff 70%,
    rgba(0, 0, 0, 0) 80%
  );
  background-position-y: 0;
  background-size: 100vw 200vh;
  border-bottom: 1px solid transparent;

  &__logo {
    position: absolute;
    top: 1em;
    height: 1.2em;
    width: 5em;
    overflow: hidden;
    transform: scale(2.5) translate(3.3em, 2em);
    transition: $transition;
    transition-property: transform, width;

    > svg {
      height: 100%;
      transition: width $transition;
    }

    #logo {
      fill: white;
      transition: fill $transition;
    }

    #text {
      transition: opacity $transition;
      fill: white;
    }
  }

  &__title-list {
    font-family: "Saira", sans-serif;
    font-size: 1.5em;
    height: 2em;
    text-align: center;
    overflow: hidden;
    opacity: 0;
    transition: $transition;
    transition-property: opacity, transform;
  }

  &__title {
    opacity: 0.6;
    transition: opacity ease-out 0.2s;
    margin-bottom: 1em;

    &--active {
      opacity: 1;
    }
  }

  &__menu {
    width: 24px;
    height: 16px;
    position: absolute;
    top: $padding;
    right: $padding;
    transition: ease-in-out 0.2s;
    transition-property: transform, top;
    transform-origin: top right;

    #hamburger {
      > path {
        fill: none;
        stroke: white;
        stroke-width: 0.48px;
        transition: ease-in-out 0.2s;
        transition-property: stroke, transform;
      }

      #top {
        transform-origin: right;
      }

      #middle {
        transform-origin: 0.35em center;
      }

      #bottom {
        transform-origin: center right;
      }
    }
  }

  &--collapsed {
    padding: 0 32px;

    #{$top} {
      &__logo {
        width: 2.4em;
        transform: none;

        #text {
          opacity: 0;
        }
      }

      &__menu {
        top: 1em;
      }
    }
  }

  &--opaque {
    background-position-y: -80vh;
    border-color: #d9d9d9;

    #{$top} {
      &__logo {
        > svg {
          #logo {
            fill: #999999;
          }
        }
      }

      &__title-list {
        opacity: 1;
      }

      &__menu {
        #hamburger > path {
          stroke: #999999;
        }
      }
    }
  }

  &--open {
    height: 100vh;
    background-position-y: -100vh;

    #{$top} {
      &__logo {
        transform: scale(2) translate(4.7em, 4em);
      }

      &__menu {
        transform: scale(3) translateY(1em);

        #top {
          transform: rotateZ(-45deg) translate(0.075em) scale(0.9);
        }

        #middle {
          transform: scale(0) translate(-0.7em);
        }

        #bottom {
          transform: rotateZ(45deg) translate(0.07em, 0.013em) scale(0.9);
        }
      }

      &__title-list {
        height: 100vh;
        transform: translateY(30vh);
      }

      &__title--active {
        opacity: 1;
        font-size: 1.2em;
      }
    }
  }
}
