@import "../styles/helpers/devices";
@import "../styles/helpers/layout";
@import "../styles/helpers/typography";
@import "../styles/helpers/vars";

.nm-header {
  $top: &;
  $transition: ease-in-out 0.3s;
  $padding: 2rem;
  $icon-height--mobile: 1.2rem;
  $icon-top--mobile: 2.75rem / 2 - 0.5rem;
  $height--mobile: 2.75rem;
  width: 100%;
  position: fixed;
  z-index: 10;
  box-sizing: border-box;
  transition: $transition;
  transition-property: padding, background-color, height;

  @include mobile {
    height: $height--mobile;
    padding: $padding;
  }

  @include min-tablet {
    padding: 0 2.5rem;
  }

  &__logo {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    transform-origin: left top;
    transition: $transition;
    transition-property: transform, width;

    @include mobile {
      top: $icon-top--mobile;
      height: $icon-height--mobile;
      transform: scale(2.5) translate(2.3em, 2em);
    }

    @include min-tablet {
      height: 1.4em;
      margin: 0.5rem 0;
      transform: scale(3) translate(58%, 160%);
    }

    > svg {
      height: 100%;
      transition: width $transition;
    }

    #logo {
      fill: #fff;
      transition: fill $transition;
    }

    #text {
      transition: $transition;
      transition-property: fill, opacity;
      fill: #fff;
    }
  }

  &__title-list {
    overflow: hidden;
    transition: $transition;
    color: #fff;
    position: relative;

    @include mobile {
      height: $height--mobile;
      @include saira(1.25rem);
      transition-property: color, opacity, transform;
      text-align: center;
      opacity: 0;
    }

    @include min-tablet {
      @include saira(0.9em);
      height: initial;
      text-align: right;
      transition-property: color;
    }
  }

  &__title {
    cursor: pointer;
    opacity: 0.6;
    transition: ease-out 0.2s;
    transition-property: opacity, margin;
    margin-bottom: 1em;

    &--active {
      opacity: 1;
    }

    @include min-tablet {
      opacity: 1;
      display: inline-block;
      margin-bottom: 1rem;
      margin-top: 1rem;

      & + & {
        margin-left: 1.5rem;
      }
    }
  }

  &__menu {
    @include min-tablet {
      display: none;
    }

    @include mobile {
      width: 1.5rem;
      top: $icon-top--mobile;
      height: $icon-height--mobile;
      position: absolute;
      right: $padding;
      transition: ease-in-out 0.2s;
      transition-property: transform, top;
      transform-origin: top right;

      #hamburger {
        > path {
          fill: none;
          stroke: #fff;
          stroke-width: 0.48px;
          transition: ease-in-out 0.2s;
          transition-property: stroke, transform;
        }

        #top {
          transform-origin: right;
        }

        #middle {
          transform-origin: 0.35em center;
        }

        #bottom {
          transform-origin: center right;
        }
      }
    }
  }

  &--collapsed {
    @include mobile {
      padding: 0 $padding;
    }

    #{$top} {
      &__logo {
        transform: none;

        @include mobile {
          #text {
            opacity: 0;
          }
        }
      }

      @include mobile {
        &__menu {
          top: 1em;
        }
      }

      @include min-tablet {
        &__title {
          margin-bottom: 0.7rem;
          margin-top: 0.7rem;
        }
      }
    }
  }

  &--opaque {
    background-color: $primary-color;

    @include mobile {
      #{$top} {
        &__title-list {
          opacity: 1;
        }
      }
    }
  }

  @include mobile {
    &--open {
      height: 100vh;

      #{$top} {
        &__logo {
          transform: scale(2) translate(4.2em, 4.5em);
        }

        &__menu {
          transform: scale(2) translateY(1em);

          #top {
            transform: rotateZ(-45deg) translate(0.075em) scale(0.9);
          }

          #middle {
            transform: scale(0) translate(-0.7em);
          }

          #bottom {
            transform: rotateZ(45deg) translate(0.07em, 0.013em) scale(0.9);
          }
        }

        &__title-list {
          height: 100vh;
          transform: translateY(30vh);
        }

        &__title--active {
          opacity: 1;
          font-size: 1.2em;
        }
      }
    }
  }
}

@include mobile {
  section > h2 {
    display: none;
  }
}
