@import "../styles/helpers/devices";
@import "../styles/helpers/layout";
@import "../styles/helpers/typography";
@import "../styles/helpers/vars";

.nm-header {
  $top: &;
  $transition--mobile: ease-in-out 350ms;
  $logo__width--mobile: 6.1rem;
  background-color: white;
  box-shadow: 0 2px 4px $shadow-color;
  box-sizing: border-box;
  position: fixed;
  width: 100%;
  z-index: 100;

  @mixin header-transition--desktop {
    transition-duration: 200ms;
    transition-timing-function: ease-in-out;
  }

  > .l-content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;

    @include max-tablet {
      overflow: hidden;
      transition: height $transition--mobile;
    }

    @include min-desktop {
      @include header-transition--desktop;
    }
  }

  &__logo-wrapper {
    transition: transform $transition--mobile;
    transform-origin: left;

    @include max-tablet {
      width: 3rem;
    }

    @include min-desktop {
      @include header-transition--desktop;
    }
  }

  &__logo {
    cursor: pointer;
    overflow: hidden;
    transition-property: width, opacity, height;

    @include max-tablet {
      transition: $transition--mobile;
      width: $logo__width--mobile;
      height: 1.5rem;
    }

    @include min-desktop {
      @include header-transition--desktop;
      opacity: 0.7;
      height: 2rem;

      &:hover,
      &:focus {
        opacity: 1;
      }
    }

    > svg {
      height: 100%;
      transition: width $transition--mobile;

      @include min-desktop {
        @include header-transition--desktop;
      }
    }

    #logo {
      transition: fill $transition--mobile;

      @include min-desktop {
        @include header-transition--desktop;
      }
    }

    #text {
      transition: $transition--mobile;
      transition-property: fill, opacity;
    }
  }

  &__title-list {
    @include max-tablet {
      transition: $transition--mobile;
      font-size: 1.25rem;
      font-weight: 700;
      transition-property: color, opacity, transform;
      text-align: center;
      opacity: 0;
      position: relative;
    }

    @include min-desktop {
      @include header-transition--desktop;
      height: initial;
      text-align: right;
      transition-property: color;
      display: flex;
      justify-content: space-between;
      text-align: center;
      flex: 0 1 calc(100vw - #{$content__padding * 2 + $logo__width--mobile});
      max-width: 30rem;
      margin-left: 0.5rem;
    }
  }

  &__title {
    cursor: pointer;

    @include max-tablet {
      transition: margin $transition--mobile;
      margin-bottom: 1em;
    }

    &--active {
      opacity: 1;
    }

    @include min-desktop {
      @include header-transition--desktop;
      display: inline-block;
      opacity: 1;
      padding: 0 0.25rem;
      transition-property: box-shadow;

      &:first-of-type {
        display: none;
      }

      &:not(&--active) {
        &:hover,
        &:focus {
          box-shadow: 0 2px transparentize($text-color, 0.5);
        }
      }

      &--active {
        box-shadow: 0 3px $text-color;
      }
    }
  }

  &__menu {
    @include min-desktop {
      display: none;
    }

    @include max-tablet {
      width: 1.5rem;
      transition: $transition--mobile;
      transition-property: transform, opacity;
      transform-origin: right center;

      #hamburger {
        > rect {
          fill: $text-color;
          transition: $transition--mobile;
          transition-property: transform, opacity;
        }

        #top,
        #bottom {
          transform-origin: center;
        }
      }
    }
  }

  &--collapsed {
    > .l-content-wrapper {
      height: 2.5rem;
    }

    #{$top} {
      @include max-tablet {
        &__logo {
          width: 3rem;

          #text {
            opacity: 0;
          }
        }

        &__logo,
        &__menu {
          opacity: 0.5;
        }
        &__title-list {
          opacity: 1;
        }
      }

      @include min-desktop {
        &__logo {
          height: 1.5rem;
        }
      }
    }
  }

  @include max-tablet {
    &--open {
      > .l-content-wrapper {
        height: 100vh;
      }

      #{$top} {
        &__logo-wrapper,
        &__menu {
          transform: translateY(calc(-50vh + 3rem + 100%)) scale(1.5);
        }

        &__logo,
        &__menu {
          opacity: 0.5;
        }

        &__logo {
          width: $logo__width--mobile;
        }

        &__menu {
          #top {
            transform: translate(10%, 10.5%) rotateZ(-45deg) scaleY(0.5);
          }

          #middle {
            transform: translateX(25%) scaleX(0.5);
            opacity: 0;
          }

          #bottom {
            transform: translate(10%, -10.5%) rotateZ(45deg) scaleY(0.5);
          }
        }

        &__title-list {
          opacity: 1;
          transform: scale(1.25);
        }
      }
    }
  }
}

@include max-tablet {
  section > h2 {
    display: none;
  }
}
