<section id="home" class="l-home">
  <div class="intro-panel">
    <h3>Leander Seefeld</h3>
    <h2>React and Node.js</h2>
    <h1>web developer</h1>
    <div class="intro-panel__subtitle">
      and aspiring
      <span class="web-designer">web designer</span>
    </div>
  </div>
  <p class="intro-brief">
    The accumulated experience of 6 years of professional work,<br />
    at your disposal.</p>
</section>