<section id="home" class="l-home">
  <div class="l-content-wrapper">
    <div class="l-home__content">
      <p class="l-home__title">web <strong>design</strong> &amp; <strong>development</strong></p>
      <p class="l-home__brief">From elegant websites to full featured web services to automate your business.</p>
      <a class="t-button t-button--white-transparent l-home__button" href="#contact">Get in touch</a>
    </div>
  </div>
</section>