<section id="services" class="l-services">
  <h2>services</h2>
  <div class="services-container">

    <div class="c-service c-service--web-design">
      <div class="c-service__image c-service__image--web-design">
        <img src="./images/landing-page-wireframe@2x.png" alt="Landing page wireframe">
        <img src="./images/dashboard-page-wireframe@2x.png" alt="Dashboard wireframe">
      </div>
      <div class="c-service__text">
        <h4>web design</h4>
        <p>Understanding your needs and your customers to deliver intuitive solutions.</p>
      </div>
    </div>

    <div class="c-service">
      <div class="c-service__image">
        <img src="./images/laptop@2x.png" alt="Laptop with code">
      </div>
      <div class="c-service__text">
        <h4>web development</h4>
        <p>Not every business fits in a template. I can code your website in state-of-the-art technologies.</p>
      </div>
    </div>

    <div class="c-service">
      <div class="c-service__image">
        <img inline src="./images/cloud-gear.svg" alt="Cloud with gear">
      </div>
      <div class="c-service__text">
        <h4>hosting</h4>
        <p>Secure and worry-free hosting, including domain renewal and backup.</p>
      </div>
    </div>

    <div class="c-service">
      <div class="c-service__image">
        <img inline src="./images/gears.svg" alt="Gears in circle">
      </div>
      <div class="c-service__text">
        <h4>api development &amp; integration</h4>
        <p>Need to connect to another service or synchronize some data? Web services are for you.</p>
      </div>
    </div>
  </div>

  <div class="stack-container">
    <p>Rest assured that you will be using up-to-date technologies.</p>

    <div class="c-stack-list">
      <h5>Main stack</h5>
      <ul class="c-stack-list__items">
        <li>
          <img src="./images/icons/es6-logo@2x.png" alt="ES6 logo">
          <span>JavaScript</span>
        </li>
        <li>
          <img src="./images/icons/react-logo@2x.png" alt="React logo">
          <span>React</span>
        </li>
        <li>
          <img src="./images/icons/nodejs-logo@2x.png" alt="Node.js logo">
          <span>Node.js</span>
        </li>
        <li>
          <img src="./images/icons/java-logo@2x.png" alt="Java logo">
          <span>Java</span>
        </li>
      </ul>
    </div>

    <div class="c-stack-list">
      <h5>Frameworks and tools</h5>
      <ul class="c-stack-list__items">
        <li>
          <img src="./images/icons/redux-logo@2x.png" alt="ES6 logo">
          <span>Redux</span>
        </li>
        <li>
          <img src="./images/icons/webpack-logo@2x.png" alt="React logo">
          <span>Webpack</span>
        </li>
        <li>
          <img src="./images/icons/babel-logo@2x.png" alt="Node.js logo">
          <span>Babel</span>
        </li>
        <li>
          <img src="./images/icons/jest-logo@2x.png" alt="Java logo">
          <span>Jest</span>
        </li>
        <li>
          <img src="./images/icons/spring-logo@2x.png" alt="Java logo">
          <span>Spring MVC</span>
        </li>
        <li>
          <img src="./images/icons/sass-logo@2x.png" alt="Java logo">
          <span>Sass</span>
        </li>
      </ul>
    </div>

    <div class="c-stack-list">
        <h5>Infrastructure</h5>
        <ul class="c-stack-list__items">
          <li>
            <img src="./images/icons/git-logo@2x.png" alt="ES6 logo">
            <span>Git</span>
          </li>
          <li>
            <img src="./images/icons/aws-logo@2x.png" alt="React logo">
            <span>Amazon Web Services</span>
          </li>
          <li>
            <img src="./images/icons/mongo-logo@2x.png" alt="Node.js logo">
            <span>MongoDB</span>
          </li>
        </ul>
      </div>

  </div>
</section>