<section id="testimonials" class="l-testimonials">
  <h2>testimonials</h2>
  <p class="t-section-caption">What other people have to say about me.</p>

  <%- include('./partials/loader') %>

  <div class="l-testimonials-wrapper"></div>
</section>