<div class="c-testimonial">
  <div class="c-testimonial__message"><%= testimonial.message %></div>
  <p class="c-testimonial__reference">
    <span class="c-testimonial__author"><%= testimonial.author %></span>,
    <span class="c-testimonial__author-relation"><%= testimonial.relationship %></span>
  </p>
</div>