<section id="testimonials" class="l-main l-testimonials">
  <h2>testimonials</h2>
  <p class="t-section-caption">Still not sure about me? Well, this is what others can tell you.</p>

  <%- include('./partials/loader') %>

  <div class="l-testimonials-wrapper"></div>
</section>